.app-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffafa;
    padding: 10px 20px;
    border-radius: 50px;
    height: 85px;
    width: 1260px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    .logo-container {
        margin-right: auto;
    }

    .menu-list {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        padding: 0;

        li {
            margin-right: 30px;
        }

        li:last-child {
            margin-right: 0;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        cursor: pointer;

        .login-button,
        .cadastrar-button {
            border: none;
            color: white;
            border-radius: 20px;
            width: 130px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }

        .login-button {
            background-color: #88B5FF;
        }

        .cadastrar-button {
            background-color: #3B85FF;
        }
    }
}
